.custom-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.custom-button:hover {
    background-color: #2980b9;
}  